<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/view.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
        <div class="head">
          <a class="navbar-brand" href="/dashboard">PMS</a>
        </div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/view">View Passwords</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/add">Add New Password</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/update">Update a Password</a>
              </li>
            </ul>
            <div style="margin-right:50px;" class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    {{user.name}}
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="/dashboard">Home</a></li>
                    <li><a class="dropdown-item" href="/account">Your Account</a></li>
                    <li><a class="dropdown-item" href="/logout">logout</a></li>
                  </ul>
            </div>
          </div>
         
        </div>
      </nav>
    <div>
        <h1>VIEW YOUR PASSWORDS</h1>
    </div>
    <div class="content"> 
            <div class="">
                <label for="inputState" class="select-head">Select an option from below for which you want to get your password</label>
                <br><br>
            <form method="POST" action="/view">
                <select id="inputState" class="form-select options" name="category" >
                <option  selected>Chose Your Option</option>
                
                  {% for item in allCat %}
                    {% if item != ""  %}
                      <option class="options">{{item}}</option>
                    {% endif %}
                  {% endfor %}
                
                </select>
                 <br><br>
                 <div class="getPass-button">
                <button >GET PASSOWRD</button>
                </div>
            </form>

            </div>

        <br><br><br><br>
        <div class="disp-pass divv">
            <label for="inputState" class="">Your Password for the selected option is</label>
            <br><br>
            <h3 class="pass display-password">{{password}}</h3>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>