<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=\, initial-scale=1.0">
   <title>Your Account</title>
   <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
   <link rel="stylesheet" href="stylesheets/account.css">

</head>
<body>
      <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container-fluid">
        <div class="head">
          <a class="navbar-brand" href="/dashboard">PMS</a>
        </div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/view">View Passwords</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/add">Add New Password</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/update">Update a Password</a>
              </li>
            </ul>
            <div style="margin-right:50px;" class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    {{user.name}}
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="/dashboard">Home</a></li>
                    <li><a class="dropdown-item" href="/account">Your Account</a></li>
                    <li><a class="dropdown-item" href="/logout">logout</a></li>
                  </ul>
            </div>
          </div>
         
        </div>
      </nav>

   <div class="sidenav">
      <div class="login-main-text">
         <h2>Your<br>Account</h2>
         <p></p>
      </div>
   </div>



<div class="main">
      <div class="user-info">
         
            <div class="form-group">
               <p>Your Name  : <span>{{user.name}}</span></p>
            </div>
            <div class="form-group">
               <p>Your Email Id : <span>{{user.email}}</span></p>
            </div>
            <br><br><br>
            <div>
            <button type="submit" class="btn btn-warning">change your password</button>
            </div>
            <br><br><br>
            <div>
            <button type="submit" class="btn btn-danger">Delete Your Account Permanently</button>
            </div>
         
      </div>
</div>

 <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script>
   var button1 = document.querySelector('.btn-warning');
   var button2 = document.querySelector('.btn-danger');

   button1.addEventListener('click',()=>{
      parent.location  = "/changePassword";
   });

   button2.addEventListener('click',()=>{
   parent.location  = "/deleteAccount";
   });
   


</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>