*{
  box-sizing: border-box;
}

.navbar{
 background-color: rgb(136, 10, 10) !important;
 
}

.user-name{
  color: aliceblue;
}

.nav-item{
  margin-right: 5px;
  border: 1px solid red !important;
  background-color: rgba(224, 168, 62, 0.836)
}

.head{
  margin-right: 5px;
}

.navbar-brand{
  color: rgb(243, 0, 0) !important;
  font-weight: bolder;
  font-size: 25px;
}

h1{
  text-align: center;
  margin-top: 100px;
}

.dropdown-menu{
  background-color: rgba(224, 168, 62, 0.836) !important;
  margin-top: .6rem !important;
}

@media only screen and (max-width: 991px){
  .navbar-collapse {
    margin-top: 20px ;
   
}
}